<div class="container">
    <div class="jumbotron">

        <img src="./assets/logo.png" alt="" height="100" width="200">

        <!-- <p class="title"><b>Restrict Access</b> </p> -->

        <div class="label-float">
            <input type="text" placeholder=" " />
            <label>E-mail</label>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-outline-success">
                <a routerLink="/msg-recover" style=" text-decoration:none; color:black">Recover</a>
            </button>
        </div>
        <br>
    </div>
</div>